* {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

/* header and navigation styles */
header {
    background: rgba(255, 144, 14, 0.1);
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 50px;
    background: white;
}

.nav-title {
    font-weight: 800;
    font-size: 45px;
}

nav ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-left: 50px;
}

/* banner styles */
.banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    width: 100%;
}

.banner-title {
    font-weight: 700;
    font-size: 64px;
    justify-content: center;
    text-align: center;
    padding: 50px;
}

.banner-description {
    color: #727272;
    font-weight: 400;
    font-size: 16px;
    justify-content: center;
    text-align: center;
}

.btn-1 {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 20px;
    border: 0;
    padding: 18px 35px;
    height: 64px;
    border-radius: 5px;
    background: #FD6E0A;
    justify-content: center;
    position: relative;
    left: 500px;
    margin: 50px;
}

/* main section */
main {
    max-width: 1140px;
    margin: 0 auto;
}

section {
    margin-top: 130px;
}

/* quick list future */

.quick-list-future {
    display: flex;
    gap: 100px;

}

.team {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

.quick-list {
    margin-top: 250px;
    align-items: center;
    justify-content: center;
}

.quick-list-future .quick-list .section-title {
    font-size: 2em;
}

.btn-2 {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 20px;
    border: 0;
    padding: 18px 20px;
    height: 64px;
    border-radius: 5px;
    background: #FD6E0A;
    justify-content: center;
    /* position: relative;
    left: 500px;
    margin: 50px; */
}

.quick-list-future .quick-list .section-description {
    color: #727272;
}

/* features love section */
.features-love {
    display: flex;
    justify-content: space-between;
    position: relative;
    left: 80px;

}

.features-love .section-title {
    font-weight: 900;
    border-left: 5px solid #FD6E0A;
    font-size: xx-large;
    padding-left: 20px;
}

.features-love .section-description {
    color: #727272;
}
.features-love .features-love-divs {
    position: relative;
    left: 20px;
}

.features-love .features-love-img {
    width: 800px;
    height: 770px;
    position: relative;
    left: 100px;
}

.features-love .btn-3 {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 20px;
    border: 0;
    padding: 18px 30px;
    padding-bottom: 60px;
    height: 64px;
    border-radius: 5px;
    background: #FD6E0A;
    justify-content: center;
    position: relative;
    right: 500px;
    top: 650px;
    margin: 50px;
}

.features-blocks {
    box-shadow: 2px 2px 2px 2px #888888;
    border: 0;
}

.features-love .features-love-divs .features-blocks .block-description {
    color: #727272;
}

/* some facts */
.some-facts .some-facts-divs {
    display: flex;
    gap: 100px;
    margin-top: 50px;
}

.skill {
    background: #FFFFFF;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    padding: 50px 80px;
    border: 1px solid red;
    text-align: center;
    justify-content: center;
    align-items: center;

}

.skill:hover {
    transform: rotate(30deg);
}

.some-facts .section-title {
    font-weight: 900;
    font-size: 2em;
}

.some-facts .section-description {
    color: #727272;
}

/* sponsor */

.sponsor {
    text-align: center;
    padding: 50px;
    margin: 50px;
}

.sponsor .section-title {
    font-size: 2em;
}

.sponsor .section-description {
   color: #727272;
}

.sponsor .sponsor-img {
    display: flex;
    justify-content: space-between;
    gap: 80px;
    -webkit-filter: grayscale(100%);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    margin-top: 50px;
    position: relative;
    right: 100px;
}

/* about me section */
.about {
    display: flex;
    text-align: center;
    /* justify-content: center; */
    align-items: center;
    gap: 100px;
}

.about .about-img {
    width: 700px;
    height: 600px;

}

.about .section-title {
    font-size: 2em;
}

.about .section-description {
    color: #727272;
}

/* footer */
.footer-copyright {
    background: pink;
    padding: 50px;
    width: 1000px;
    position: relative;
    left: 350px;
    text-align: center;
    
}

@media screen and (max-width: 688px ) {
    nav {
        flex-direction: column;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    nav ul {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
    }
    }
    .banner {
        max-width: 100%;
    }

    .banner-description {
        
    }

    .banner img {
        max-width: 100%;
    }

    .banner .btn-1 {
        max-width: 100%;
        position: relative;
        right: 500px;
        left: 0;
    }
.quick-list-future {
    flex-direction: column;
    
    
}

.quick-list-future .team {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin-bottom: 0;
    padding-bottom: 0;
}

.quick-list-future .quick-list {
    margin-top: 0;
}
    /* features love */
.features-love {
    flex-direction: column;
    display: block;
    
    grid-template-columns: repeat(1, 1fr);
    position: relative;
    right: 0;
    left: 0;
}

.features-love .features-love-img  {
    max-width: 100%;
    position: relative;
    left: 0;
}

.features-love .btn-3 {
    position: relative;
    right: 0;
    top: 0;
}

.features-love .features-love-divs {
    position: relative;
    left: 0;
}

/* some facets */
.some-facts .some-facts-divs {
    flex-direction: column;
}

/* sponsor */
.sponsor .sponsor-img {
    flex-direction: column;
    right: 0;
}

/* about */
.about {
    flex-direction: column;
}

.about .about-img {
    max-width: 100%;
}

.footer-copyright {
    max-width: 260px;
    position: relative;
    left: 0%;
    
}